div.buBox{
    position: absolute;
    top:16px; 
    right:0;
    width: 300px;        
}
/* .bu button{
    text-decoration: none;
}
.bu button a:hover{
    color: #bd5151;
    padding-bottom: 0px;
    border-bottom:  0px solid rgb(189, 81, 81);
} */
.bu li a{
  /* 设置链接内容显示的格式*/
    display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
    color:rgb(153, 148, 148);
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none; /*去除下划线*/
    cursor: pointer;
    }
.bu li a:hover{
    color: #bd5151;
    padding-bottom: 0px;
    border-bottom:  0px solid rgb(189, 81, 81);
}